<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" condemotent="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/discover2.css"/>
</head>
<body>
    <header class="header-container">
        <h1>Discover</h1>
        <img class="basic-logo" src="../images/bell-regular.svg" alt="bell-icon"/>     
    </header>
    
    <div class="main-container">
        <div class="nav-section">
            <ul class="nav">
                <li class="nav-item">           
                    <a class="nav-link active" aria-current="page" href="#">Wish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active-lg" href="#">Profile</a>
                </li>
            </ul>
        </div>
        <div class="banner-container">
            <img src="../images/old-man.jpg" alt="Elder-man"/>
            <div class="banner-details">
                <p class="br-1">Ramesh, 65 <span><img src="../images/verify.png" alt="verification"/></span></p>
                <p class="br-2"><span><img src="../images/umbrella.png" alt="verification"/></span>shantineer old age home</p>
                <p class="br-3"><span><img src="../images/location.png" alt="verification"/></span>9 miles away</p>
            </div>
        </div>
        <div class="feature-wrapper">
            <div class="feature-container">
                <div class="fr-1">
                   <p class="fr-title">Wish
                   </p>
                   <img class="basic-logo" src="../images/flower.png" alt="flower-icon"/>
                </div>
                <div class="fr-2">
                    <p>To be able to go pandal hopping <br/> this durga puja</p>
                </div>
           </div>
           <div class="feature-container">
                <div class="fr-1">
                    <p class="fr-title">Event Schedule</p>
                    <img class="basic-logo" src="../images/flower.png" alt="flower-icon"/>
                </div>
                <div class="fr-2">
                    <div class="event-row-1">
                        <p class="events"><span><img src="../images/talking.png" alt="verification"/></span>Talking</p>
                        <p class="events"><span><img src="../images/gardening.png" alt="verification"/></span>Gardening</p>
                    </div>
                    <div class="event-row-2">
                        <p class="events"><span><img src="../images/sudoku.png" alt="verification"/></span>Sudoku</p>
                        <p class="events"><span><img src="../images/meditation.png" alt="verification"/></span>Meditation</p>
                    </div>
                </div>
            </div>
            <div class="feature-container">
                <div class="fr-1">
                    <p class="fr-title">Dream</p>
                    <img class="basic-logo" src="../images/flower.png" alt="flower-icon"/>
                </div>
                <div class="fr-2">
                    <p>lorem ipsum dolor sit amet,
                        consecteter adipoiscing elit, sed diam nonummy nibh eusmod tincidunt ut laoreet dolore
                    </p>
                </div>
            </div>
            <div class="feature-container">
                <div class="fr-1">
                    <p class="fr-title">Life Story</p>
                    <img class="basic-logo" src="../images/flower.png" alt="flower-icon"/>
                </div>
                <div class="fr-2">
                    <p>lorem ipsum dolor sit amet,
                        consecteter adipoiscing elit, sed diam
                    </p>
                    <p class="fr-sm-txt">
                        make conversation to read the entire life story.
                    </p>
                </div>
            </div>
            
        </div>
        <div class="refresh-logo">
            <img src="../images/refresh.png" alt="refresh-logo">
        </div>
        
    </div>

    </div>
    <footer>
        <ul>
            <li href="#"><img class="basic-logo" src="../images/home.png"/><span>Home</span></li>
            <li href="#"><img  class="basic-logo" src="../images/calendar.png"/><span>Inbox</span></li>
            <li href="#"><img class="basic-logo"  src="../images/messenger.png"/><span>Schedule</span></li>
            <li href="#"><img class="basic-logo" src="../images/user.png"/><span>Profile</span></li>
        </ul> 
    </footer>
</body>
</html>