<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" condemotent="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/discover1.css"/>
</head>
<body>
    <header class="header-container">
        <h1>Discover</h1>
        <img class="basic-logo" src="../images/bell-regular.svg" alt="bell-icon"/>     
    </header>
    
    <div class="main-container">
        <div class="nav-section">
            <ul class="nav">
                <li class="nav-item">           
                    <a class="nav-link active" aria-current="page" href="#">Wishes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active-lg" href="#">Create A Wish</a>
                </li>
            </ul>
        </div>
        <section class="notifications-container">
            <div class="notification">
                <img src="../images/tamanna.webp" alt="profilePicture">
                <div class="notification-text" onclick="window.location.href='supporter.html'">
                        <p class="notification-header">Tamanna</p>
                        <p class="notication-content">lorem ipsum dolor sit amet,<br /> consecteter adipoiscing elit, sed</p>
                </div>
            </div>
            <div class="notification" onclick="window.location.href='supporter.html'">
                <img src="../images/tamanna.webp" alt="profilePicture">
                <div class="notification-text">
                        <p class="notification-header">Tamanna</p>
                        <p class="notication-content">lorem ipsum dolor sit amet,<br /> consecteter adipoiscing elit, sed</p>
                </div>
            </div>
            <div class="notification" onclick="window.location.href='supporter.html'">
                <img src="../images/tamanna.webp" alt="profilePicture">
                <div class="notification-text">
                        <p class="notification-header">Tamanna</p>
                        <p class="notication-content">lorem ipsum dolor sit amet,<br /> consecteter adipoiscing elit, sed</p>
                </div>
            </div>
            <div class="notification" onclick="window.location.href='supporter.html'">
                <img src="../images/tamanna.webp" alt="profilePicture">
                <div class="notification-text">
                        <p class="notification-header">Tamanna</p>
                        <p class="notication-content">lorem ipsum dolor sit amet,<br /> consecteter adipoiscing elit, sed</p>
                </div>
            </div>
            <div class="notification" onclick="window.location.href='supporter.html'">
                <img src="../images/tamanna.webp" alt="profilePicture">
                <div class="notification-text">
                        <p class="notification-header">Tamanna</p>
                        <p class="notication-content">lorem ipsum dolor sit amet,<br /> consecteter adipoiscing elit, sed</p>
                </div>
            </div>
            <div class="notification" onclick="window.location.href='supporter.html'">
                <img src="../images/tamanna.webp" alt="profilePicture">
                <div class="notification-text">
                        <p class="notification-header">Tamanna</p>
                        <p class="notication-content">lorem ipsum dolor sit amet,<br /> consecteter adipoiscing elit, sed</p>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <ul>
            <li href="#"><img class="basic-logo" src="../images/home.png"/><span>Home</span></li>
            <li href="#"><img  class="basic-logo" src="../images/calendar.png"/><span>Inbox</span></li>
            <li onclick="window.location.href='schedule.html'"><img class="basic-logo"  src="../images/messenger.png"/><span>Schedule</span></li>
            <li onclick="window.location.href='edit-profile.html'"><img class="basic-logo" src="../images/user.png"/><span>Profile</span></li>
        </ul> 
    </footer>
</body>
</html>