<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/name-need.css"/>
    <!-- CSS only -->

</head>
<body>
    <header class="header-container">
                <h1>Discover</h1>
                <img class="basic-logo" src="../images/bell-regular.svg" alt="bell-icon"/>     
    </header>

    <div class="main-container">
        <div class="nav-section">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Matches</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active-lg" href="#">Events</a>
                </li>
              </ul>
        </div>
        <div class="banner-container">
                <img src="../images/old-man.jpg" alt="Elder-man"/>
                <p>lorem ipsum dolor sit amet,
                     consecteter adipoiscing elit, sed </p>
        </div>
    </div>

    <footer>
        <ul>
            <li href="#"><img class="basic-logo" src="../images/home.png"/></li>
            <li href="#"><img  class="basic-logo" src="../images/calendar.png"/></li>
            <li href="#"><img class="basic-logo"  src="../images/messenger.png"/></li>
            <li href="#"><img class="basic-logo" src="../images/user.png"/></li>
        </ul> 

    </footer>
    
</body>
</html>