<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/name-need.css"/>
</head>
<body>

    <div class="otp-page-wrapper">
        <a href="sign-up.html" class="back-btn">Back</a>
            <form>
                <h1>Verify Your Number</h1>
                    <p>Enter OTP we've sent by SMS on </p>
                <input type="text" name="dig1" placeholder="X">
                <input type="text" name="dig2" placeholder="X">
                <input type="text" name="dig3" placeholder="X">
                <input type="text" name="dig4" placeholder="X">
            </form>
    </div>
    <footer class="dynamic-footer">
        <p class="otp-status"> OTP should arrive in </p>
        <div>
            <input type="button" value="Next" class="next-btn hide-page">
        </div>
    </footer>

        <script src="/apps/scripts/sign-up.js" async defer></script>
</body>
</html>