<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/profile-mode.css"/>

</head>
<body>
    <header></header>
    <div class="main-container">
        <h1>To get going, pick a mode</h1>
        <h4>lorem ipsum dolor sit amet, consecteter adipoiscing elit, sed diam</h4>

        <div class="radio-container">
            <div class="radio-entity">
                   <img src="../images/circle-xmark-solid.svg" alt="Logo"/>
                <label class="radio-label"><span class="radio-title">Beneficiary</span> 
                    <p>lorem ipsum dolor sit amet,<br /> consecteter adipoiscing elit,</p>
                </label>
                <input type="radio" id="beneficiary" onclick="window.location.href='request-page.html'" name="radio-default"/>
            </div>

            <div class="radio-entity">
                <img src="../images/circle-xmark-solid.svg" alt="Logo"/>
             <label class="radio-label"><span class="radio-title">Supporter</span> 
                 <p>lorem ipsum dolor sit amet,<br /> consecteter adipoiscing elit,</p>
             </label>
             <input type="radio" id="beneficiary" onclick="window.location.href='discover1.html'" name="radio-default"/>
         </div>
        </div>
        
    </div>
    <footer>
    </footer>
</body>
</html>