<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Page</title>
    <link rel="stylesheet" href="../styles/request-page.css">
</head>
<body>
        <header class="header-container">
            <h1 class="header-text">How Do You want to Help?</h1>
            <img class="notification-bell" src="../images/bell-regular.svg" alt="bell-icon" />
        </header>
        <div class="nav-section">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Wish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active-lg" href="#">History</a>
                </li>
            </ul>
        </div>
        <div class="btn-container">
            <input type="button" class="request-btn" value="Pending">
            <input type="button" class="request-btn" value="Posted">
        </div>
        <div class="request-wrapper">
            <div>September 07 at 8:14p.m</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.</p>
        </div>
        <div class="request-wrapper">
            <div>September 07 at 8:14p.m</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna
                aliqua.</p>
        </div>
        <div class="request-wrapper">
            <div>September 07 at 8:14p.m</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna
                aliqua.</p>
        </div>
        <div class="request-wrapper">
            <div>September 07 at 8:14p.m</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna
                aliqua.</p>
        </div>
        <div class="request-wrapper">
            <div>September 07 at 8:14p.m</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna
                aliqua.</p>
        </div>
        <div class="request-wrapper">
            <div>September 07 at 8:14p.m</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna
                aliqua.</p>
        </div>
</body>
</html>