<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="../styles/schedule.css">
</head>

<body>
    <header class="header-container">
        <h1 class="header-text">Schedule</h1>
        <img class="notification-bell" src="../images/bell-regular.svg" alt="bell-icon" />
    </header>

    <main class="main-container">
        <div class="meeting-wrapper">
            <div class="profile-details">
                <img class="profile-pic" src="../images/old-man.jpg" alt="Elder-man" />
                <div class="meeting-details">
                    <div>6 Aug, 2022</div>
                    <div>3:45 PM</div>
                    <strong>Ramesh</strong>
                    <hr>
                </div>
            </div>
            <div><strong>Meeting at:</strong> Shantineer old age home</div>
        </div>

        <div class="meeting-wrapper">
            <div class="profile-details">
                <img class="profile-pic" src="../images/old-man.jpg" alt="Elder-man" />
                <div class="meeting-details">
                    <div>6 Aug, 2022</div>
                    <div>3:45 PM</div>
                    <strong>Ramesh</strong>
                    <hr>
                </div>
            </div>
            <div><strong>Meeting at:</strong> Shantineer old age home</div>
        </div>

        <div class="meeting-wrapper">
            <div class="profile-details">
                <img class="profile-pic" src="../images/old-man.jpg" alt="Elder-man" />
                <div class="meeting-details">
                    <div>6 Aug, 2022</div>
                    <div>3:45 PM</div>
                    <strong>Ramesh</strong>
                    <hr>
                </div>
            </div>
            <div><strong>Meeting at:</strong> Shantineer old age home</div>
        </div>

        <div class="meeting-wrapper">
            <div class="profile-details">
                <img class="profile-pic" src="../images/old-man.jpg" alt="Elder-man" />
                <div class="meeting-details">
                    <div>6 Aug, 2022</div>
                    <div>3:45 PM</div>
                    <strong>Ramesh</strong>
                    <hr>
                </div>
            </div>
            <div><strong>Meeting at:</strong> Shantineer old age home</div>
        </div>
    </main>
</body>

</html>