<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/sign-up.css">
    </head>
    <body>
        <div class="sign-up-container">
            <form>
                <div>
                <h1>
                    Let's Sign <br /> You Up
                </h1>
                <p>Lorem ipsum dolor sit amet, consec- tetuer adipiscing elit, sed diam</p>
                </div>
                <div class="field-wrapper">
                    <div class="input-btn">
                        <input type="text" id="emial" name="email" placeholder="Enter Email">
                        <input type="button" value="Use Phone Number" class="btn" onclick="redirect()">
                    </div>
                </div>
            </form>
        </div>
        <div class="user-details-wrapper hide-page">
            <div class="back-btn" onclick="landingPage()"><img src="../images/line-angle-right-icon.svg" alt="Privacy"/></div>
            <form>
                <h1>Whats Your Number</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.</p>
                <select name="countryDig" id="countryDig" class="user-fields">
                    <option value="india">+91</option>
                </select>
                <input type="tel" name="pnum" maxlength="10">
            </form>
        </div>
        <footer class="sign-up">
            <img src="../images/lock-icon.svg" alt="Privacy"/> 
            <p class="disclamer">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            </p>
            <button class="verify-btn hide-page"><img src="../images/line-angle-right-icon.svg" alt="Privacy"/> </button>
        </footer>
        
        <script src="../scripts/sign-up.js" async defer></script>
    </body>
</html>