footer > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 95%;
    position: fixed;
    bottom: -3%;
    padding-top: 5%;
    padding-bottom : 5%;
    border: 3px solid black;
    border-radius: 30px;
}
.basic-logo{
    height: 3rem;
    width : 3rem;
}
body{
    margin: 0;
}

.nav{
    list-style: none;
    display: flex;
    padding-bottom: 2%;
    padding-top: 5%;
    margin-left: 15%;
}

.nav-item {
    padding-right: 10%;
    padding-left: 5%;
}

.nav-item > a{
    text-decoration: none;
    color: black;
    font-size: 3rem;
}
.nav-section{
    position: fixed;
    margin-top: 200px;
    background-color: white;
    width: 100%;
    z-index:10;
}


.header-container{
    display: flex;
    margin: 0  30px 0  0;
    justify-content: space-around;
    font-size: 2.5rem;
    position: fixed;
    background-color: white;
    width: 100%;
    margin-top: 0;
    height : 200px;
    z-index:10;
}

.header-container > .basic-logo{
    margin-top: 8%;
}
.banner-container > img{
    width: 70%;
    border-radius: 30px;
    margin-left: 15%;
}
.banner-details{
    width: 60%;
    border-radius: 30px;
    border: 1px solid black;
    padding: 5%;
    margin-left: 15%;
    position: relative;
    bottom: 92px;
    background-color: black;
    color: white;
    font-size: 2rem;
}
.banner-container{
    position: relative;
    top: 400px;
    z-index:8;
}
.br-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}
.br-2,.br-3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.br-2,.br-3  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.br-1, .br-2, .br-3{
    margin: 0;
}

.banner-details > p > span > img{
    height: 3rem;
    width: 3rem;
    margin-right: 20px;
}

.feature-wrapper{
    margin-bottom: 650px;
}
.feature-container{
    width: 70%;
    margin-left: 15%;
    border: 2px solid black;
    border-radius: 40px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    position: relative;
    top:400px;
}

.fr-1{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    justify-content: space-between;
}
.fr-2{
    margin-left: 40px;
    margin-right: 40px;
}
.fr-title{
    font-size: 3rem;
    font-weight: bold;
}

.fr-1 > .basic-logo{
    border: 3px solid black;
    border-radius: 50%;
    padding: 30px;
}

.fr-2 > p {
    font-size: 2.5rem;
    margin-top: 0;
}

.fr-sm-txt{
    font-size: 1.5rem !important;
    opacity : 70%;
}
.event-row-1, .event-row-2{
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

.events > span > img {
    height: 3rem;
    width: 3rem;
    margin-right: 20px;
}

.events{
    margin-top: 0;
    margin-bottom: 10px;
}

.refresh-logo{
    position: fixed;
    z-index:7;
    bottom : 15%;
    margin-left: 5%;
    border: 5px solid black;
    padding: 30px;
    border-radius: 50%;
}

.refresh-logo > img{
    height: 5rem;
    width: 5rem;
}


.footer{
    height: 300px;
}

footer > ul{
    background-color: white;
    height: 100px;
}

footer > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > ul > li >span{
    font-size: 2rem;
    margin-top: 10%;
    margin-left: 10px;
}