.main-container {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.align-self-center {
    align-self: center;
}

img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

fieldset>textarea {
    width: 100%;
    height: 100%;
    border: none;
}

.upload-options {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-self: center;
}

textarea,
input,
fieldset,
select {
    border: 2px solid darkgrey;
    border-radius: 10px;
    color: darkgrey;
}