.header-container{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}

.notification-bell{
    width: 30px;
}

.header-text{
    font-size: 20px;
}

.nav{
    list-style: none;
    display: flex;
    border-bottom: 2px solid black;
    padding: 0;
    justify-content: space-evenly;
    margin-top: 40px;
}

.nav-item > a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    color: gray;
}

a:hover{
    text-decoration: underline;
    color: black;
}

.btn-container{
    text-align: center;
    margin-top: 40px;
}

.request-btn{
    border-radius: 20px;
    padding: 10px 32px;
    border: 1px solid gray;
}

.request-btn:hover{
    border: 1px solid black;
}

.request-wrapper{
    border: 1px solid gray;
    border-radius: 28px;
    padding: 20px;
    margin: 25px;
}