.header-container {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}

.notification-bell {
    width: 30px;
}

.header-text {
    font-size: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meeting-wrapper {
    border: 1px solid gray;
    border-radius: 28px;
    padding: 20px;
    margin: 25px;
    justify-content: center;
    max-width: 90%;
}

@media screen and (min-width: 768px) {
    .meeting-wrapper {
        width: 50%;
    }
}

.profile-details {
    display: flex;
    justify-content: space-between;
}

.profile-pic {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.meeting-details {
    width: 80%;
    margin-left: 10%;
}