body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sign-up-container{
    margin: 40px;
    margin-top: 100px;
}

.sign-up-container input, .sign-up-container button.btn{
    width: 100%;
    padding: 20px 0;
    margin: 3% auto;
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
    background: transparent;
}

.sign-up-container ::placeholder{
    color: black;
}

.field-wrapper{
    margin-top: 110px;
}

footer{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
}

footer.sign-up {
    position: absolute;
    bottom: 40px;
    margin: 0  30px;
    left: 0;
    right: 0;
    display: flex;
    flex: 0 0 100%;
}

/* .disclamer.sign-up {
    
} */

footer.sign-up img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.disclamer {
    font-size: 11px;
    margin: 0 10px;
}

.hide-page{
    display: none;
}

.user-details-wrapper{
    margin: 40px;
    margin-top: 100px;
    margin-bottom: 180px;
}

.user-fields{
    width: 70px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
}

.user-details-wrapper input[type='tel']{
    width: 185px;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
}
.back-btn img {
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
}
.verify-btn{
    margin-top: 15px;
    width: 45px;
    height: 45px;
    background-size: cover;
    border: 0;
    border-radius: 22px;
}
footer.sign-up .verify-btn img{ 
    margin: 0;
    width: 32px;
}